/* 水平垂直居中 */
/* 横向margin，纵向使用transform */
.father1{
    width: 200px;
    height: 200px;
    border: 1px solid bisque;
    background-color: bisque;
}
.father1 .child1 {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: black;
    top: 50%;
    margin:auto;
    transform: translateY(-50%);
}
/* 上下左右设为0，使用margin:auto */
.father2{
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid bisque;
    background-color: bisque;
}
.father2 .child2{
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}
/* 上左设置为50%，使用transform */
.father3{
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid bisque;
    background-color: bisque;
}
.father3 .child3 {
    position: absolute;
    width: 50px;
    height: 50px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: black;
}
/* flex布局 */
.father4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 1px solid bisque;
    background-color: bisque;
}
.father4 .child4{
    width: 50px;
    height: 50px;
    background-color:black;
}
